header{
  z_index:0px;
  height:80px;
  position:fixed;
  top:0px;
  background-color:#ffa07a;
  width:100%;
  textalign:center;
  z-index:auto;
  margin-left:-7px;
}
a{
  color:#fff;
  text-transform:uppearcase;
}
.box1{
 position:relative;
 top:70px;
}

h1.miz{
  color:#734e30;
  font-size:15px;
}
h1,h2,h3,h4.box1 {
  color:#734e30;
  font-size:15px
}
body {
  background-color:#fad7b38c;
}
