header{
  z_index:0px;
  height:8px;
  position:fixed;
  top:0px;
  background-color:#faf0e6;
  width:100%;
  textalign:center;
  z-index:auto;
  margin-left:-7px
}
a{
  color:#fff;
  text-transform:uppearcase;
}


h1 {
  color:#734e30;
}
body {
  background-color:#fad7b38c;
}
