header{
  z_index:10px;
  height:10pxpx;
  position:fixed;
  top:300px;
  background-color:#faf0e6;
  width:100%;
  text]align:center;
  z-index:2;
}
a{
  color:#fff;
  text-transform:uppearcase;
}


h1 {
  color:#734e30;
}
body {
  background-color:#fad7b38c;
}
